PROJECT_NAME="SetuStart"
TEAM_NAME="InnoBridge Team"
ENV="development"
SECRET_KEY="setustart_super_secret_jwt_key_innovate_bridge_2026"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=4320 # 3 days for easy testing
REFRESH_TOKEN_EXPIRE_DAYS=7

# Database URL (Defaults to SQLite for local development without Postgres setup, or PostgreSQL URI)
DATABASE_URL="sqlite:///./setustart.db"
# DATABASE_URL="postgresql://setu_user:setu_pass@localhost:5432/setustart_db"

GEMINI_API_KEY=""
